body {
    margin: 0;
    background: black;
}

* {
    box-sizing: border-box;
}

.wrn-main {
    height: 440vh;
    width: 100%;
}

.wrn-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    width: 100%;
    overflow: hidden;
    position: sticky;
    top: 0;
    background-image: url('img/bkg.jpg');
    background-size: cover;
    background-position: bottom;
}

.wrn-under {
    height: 100vh;
}

.wrn-gradient-top {
    background: linear-gradient(180deg, rgba(0, 0, 0, 1) 0%, rgba(0, 0, 0, 0) 100%);
    position: absolute;
    top: 0;
    z-index: 10;
    height: 25vh;
    width: 100%;
    opacity: .75;
}

.wrn-gradient-bottom {
    background: linear-gradient(0deg, rgba(0, 0, 0, 1) 30%, rgba(0, 0, 0, 0) 100%);
    position: absolute;
    bottom: 0;
    z-index: 10;
    height: 70vh;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.video-main,
.video-intro {
    position: relative;
    z-index: 2;
    height: 80%;
    width: 100%;
    object-fit: cover;
    object-position: top;
    transition: all 2s ease;
}

.video-main {
    position: absolute;
    z-index: 1;
    top: 0;
}

.video-intro.hide{
    opacity: 0;
}

.wrn-logo {
    width: 70vw;
    max-width: 240px;
    opacity: 1;
    mix-blend-mode: plus-lighter;
    position: absolute;
    z-index: 100;
    bottom: 100px;
    left: 50%;
    transform: translateX(-50%)
}

.wrn-scroll {
    width: 20px;
    height: 42px;
    border: 2px solid #725f2a;
    border-radius: 10px;
    position: absolute;
    left: 50%;
    transform: translateX(-50%) scale(.8);
    bottom: 44px;
    z-index: 100;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 2px;
}

.wrn-round {
    width: 12px;
    height: 12px;
    background: #99823c;
    border-radius: 8px;
    animation: scrolling 1s infinite ease-in-out;
}

@keyframes scrolling {
    0% {
        transform: translateY(0)
    }

    50% {
        transform: translateY(22px);
        opacity: .5;
    }

    100% {
        transform: translateY(22px);
        opacity: 0;
    }

}

.wrn-last{
    position: relative;
    z-index: 3;
    height: 80%;
    width: 100%;
    object-fit: cover;
    object-position: top;
}

.wrn-last img{
    height: 100%;
    width: 100%;
    object-fit: cover;
    object-position: top;
}

.wrn-bouro,
.wrn-body{
    position: absolute !important;
    top:0;
}

.wrn-last.hide{
    opacity: 0;
}

.wrn-middle{
    position: relative;
    width: 100vh;
}